.wrapper {
  display: grid;
  grid-template-columns: 30% 1fr;
}
.client-list {
  overflow-y: scroll;
  height: 100vh;
  background-color: white;
}
.mobile-wrapper {
  height: 100vh;
}
.clientList_container {
  padding: 15px;
}
